@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-deluge: #7874AC;
  --color-bakers-cholocate: #3D0814;
  --color-falu-red: #7D1616;
  --color-ocean-green: #58A870;
  --color-british-racing-green: #004F2D;
}